@import "../../main.scss";

.faqPage {
    background: url("../../assets/images/fullFaq/2.jpg");
    .nav-background {
        position: static;
    }
}

.siteMap .container{
    background-color: #f9f8f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    #contact {
        margin-top: 0rem;
        .card-deck {
            display: block;
        }
    }
    @media (max-width: 640px) {
        #contact .card-deck {
            display: flex;
            flex-wrap: wrap;
        }    
    }
}

