@import "../../main.scss";
.nav-background {
    @media (max-width: 376px) {
        .container {
           padding-right: 0px;
           padding-left: 0px;
    }

    .navbar-brand {
        right: 35%;
        top: 10px;    
        img.d-block {
        margin-top: 0.25rem!important;
        height: 30px;
        width: 30px;
        }
     a.d-block {
        font-size: 14px;
        }
    }
    .navbar-brand.position-absolute {
        padding: 1rem!important;
    }
}
    background: transparent;
    position: absolute;
    width: 100%;
}

.nav-background .img {
    width: 100%;
}

.nav-background .navbar-brand {
    background-color: rgba(71, 149, 40, 0.7);
    z-index: 15;
}

.nav-background .navbar-brand a {
    @include Montserrat-title();
    font-size: 24px;
}

.svg-inline--fa {
    color: #ffffff;
}

.nav-background .nav .nav-link:hover .svg-inline--fa{
    color: #0d5195;
}