@import "../../main.scss";
.nav-background {
    background: transparent;
    position: absolute;
    width: 100%;
}

.nav-background .img {
    width: 100%;
}

.nav-background .navbar-brand {
    background-color: rgba(71, 149, 40, 0.7);
    z-index: 15;
}

.nav-background .navbar-brand a {
    @include Montserrat-title();
    font-size: 24px;
}

.svg-inline--fa {
    color: #ffffff;
}

.nav-background .nav .nav-link:hover .svg-inline--fa{
    color: #0d5195;
}