@import "../../main.scss";
.faq {
    .card, .card-group, .card-img {
        border: none;
        border-radius: 0;
    }
    .card-img-overlay {
        background-color: rgba(80, 161, 48, 0.35);
        .card-title {
            text-align: center;
            @include Montserrat-title();
        }
        .btn {
            color: #f9f8f4;
            display: block;
            margin: 0 auto;
            @include Open-Sans-par();
            background-color: #599F3D;
        }
        .btn:hover {
            background-color: #f9f8f4;
            color: #599F3D;
        }
    }
}