@import "../../main.scss";
#faq {
    background-color: #f4f4f4;
    .card, .card-group, .card-img {
        border: none;
        border-radius: 0;
    }
    .card-img-overlay {
        background-color: rgba(80, 161, 48, 0.35);
        .card-title {
            text-align: center;
            @include Montserrat-title();
        }
        @include btn;
    }
}