@import "../../main.scss";
.jumbotron-carousel {
@media (max-width: 992px) {
    padding-bottom: 9rem;
}
@media (max-width: 1441px) {
    padding-bottom: 1rem;
}
@media (max-width: 769px) {
    .jumbotron .text-right h1 {
        font-size: 50px;
        margin-top: 4rem;
    }
 }
    padding-bottom: 12rem;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../../assets/images/jumbotron/2.jpeg");
    .jumbotron {
        margin-bottom: 0;
        background: none;
    }
    .carousel-caption {
        position: inherit;
    }
    .nav {
        justify-content: flex-end;
        
        .nav-link a, .btn a {
            @include Montserrat-title();
            font-size: 13px;
        }
        @include btn();
    }
    .text-right {
        text-transform: uppercase;
        h1 {
            @include Open-Sans-par();
            font-size: 60px;  
            margin-top: 8rem;
        }
        p {
            margin-bottom: 8rem;
            @include Montserrat-title();
            font-size: 16px;
        }
    }
}