@import "../../main.scss";
.jumbotron-carousel {
@media (max-width: 992px) {
    padding-bottom: 9rem;
}
@media (max-width: 1441px) {
    padding-bottom: 1rem;
}
@media (max-width: 769px) {
    background-position: left top; 
    background-attachment: scroll;
    .jumbotron .text-right h1 {
        font-size: 30px;
        margin-top: 4rem;
    }
    .offset-3 {
        .carousel-caption {
            .nav {
                flex-direction: column;
            }
        }
    }
 }
 @media (max-width: 376px) {
     .container {
        padding-right: 0px;
        padding-left: 0px;
        .offset-3 {
            margin-left: 11%;
            .carousel-caption {
                padding-bottom: 0px;
                .nav {
                    flex-direction: column;
                    margin-top: 1rem;
                }
            }
            .jumbotron .text-right p {
                display: none;
            }
        }
     }
     .navbar {
        padding: .5rem 0.25rem;
    }
    .jumbotron .text-right h1 {
        text-align: center;
        font-size: 15px;
        margin-top: 0rem;
        margin-right: 0rem!important;
    }
    .jumbotron .text-right p {
        font-size: 10px;
    }
    .home-mobile{
        display: none;
    }
    .btn {
        font-size: 11px!important;
        padding: 0.5rem 0.75rem !important;
    }
 }
 @media (max-width: 321px) {
    .nav-background .navbar-brand {
        right: 33%;
    }
 }
    padding-bottom: 12rem;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../../assets/images/jumbotron/2.jpeg");
    .jumbotron {
        margin-bottom: 0;
        background: none;
    }
    .carousel-caption {
        position: inherit;
    }
    .nav {
        justify-content: flex-end;
        
        .nav-link a, .btn a {
            @include Montserrat-title();
            font-size: 13px;
        }
        @include btn();
    }
    .text-right {
        text-transform: uppercase;
        h1 {
            @include Open-Sans-par();
            font-size: 60px;  
            margin-top: 8rem;
        }
        p {
            margin-bottom: 8rem;
            @include Montserrat-title();
            font-size: 16px;
        }
    }
}