@import "../../main.scss";

.advantages {
    .cards {
        border: 5px double #599F3D;
    }
    .g-0 {
        height: 100%;
    }
    .card {
        overflow: hidden;
        border: none;
        padding: 0rem 2rem 2rem 0rem;
        .card-body {
            overflow: hidden;
            border-bottom: 1px dotted #969696;
            height: 100%;
        }
        .card-title {
            overflow: hidden;
            @include Montserrat-title();
            color: #969696;
        }
        .card-text {
            overflow: hidden;
            @include Open-Sans-par();
            color: #969696;
        }
        .img-fluid {
            overflow: hidden;
            display: block;
            margin: 0 auto;
            padding-top: 1.25rem;
            width: 50%;
        }
    }
    @media (max-width: 769px) {
        .card {
        padding: 0rem 0.5rem 1rem 0.5rem;
        }
        .cards .img-fluid {
            width: 20%;
        }
        .card-title {
           font-size: 10px;
        }
        .card-text {
            font-size: 8px;
        }
    }
}