@import "../../main.scss";

.email {
    background-color: #f8f8f8;
    .container {
        background-color: #f4f4f4;
        .card-title {
            @include Montserrat-title();
            color: #000000;
            font-size: 24px;
            text-align: center;
        }
        .contact-form {
            .form-group {
                padding: 2rem;
            }
        }

    }
}