@import "../../main.scss";
#email {
    @media (max-width: 769px) {
        .container .card-title {
            font-size: 18px!important;
            margin-top: 0px!important;
        }
    }
    background-color: #ffffff;
    .container {
        background-color: #f4f4f4;
        .card-title {
            @include Component-title();
        }
        .contact-form {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            .form-group {
                padding: 1rem 2rem;
                label {
                    @include Montserrat-title();
                    font-size: 13px;
                    color: #969696;
                }
                input.form-control  {
                    background-color: #ffffff;
                    border: 1px solid #d9d9d9;
                    border-radius: 0;
                    @include Open-Sans-par();
                    color: #c7c7c7;
                }
                .form-control:focus {
                    color: #495057;
                    background-color: #fff;
                    border-color: #0d5195;
                    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
                }
                textarea {
                    display: block;
                    padding: 1rem;
                    width: 100%;
                    @include Open-Sans-par();
                    color: #c7c7c7;
                }
            }
            @include btn;
        }
    }
    iframe {
        height: 700px;
    }
}
.modal-content {
    background: #f4f4f4;
    .modal-title {
        @include Montserrat-title();
        color: #969696;;
    }
    .modal-body {
        @include Open-Sans-par();
        color: #969696;
    }
    @include btn();
}