@import "../../main.scss";

.footer {
    background-color: #479528;
    .nav .nav-link {
        @include Open-Sans-par;
        font-size: 11px;
    }
    .card-img-top {
        width: 20%;
    }
}