@import "../../main.scss";
@media (max-width: 992px) {
    .testimonials .card-deck {
        .card-body .card-text {
            font-size: 11px;
        }
    }
}
@media (max-width: 576px) {
    .testimonials .card-deck {
        .slider .card {
            padding: 10px;
        }
        .card-body .card-text {
            font-size: 9px;
        }
        .font-weight-bold {
            font-size: 9px;
        }
    }
}

.testimonials {
    background-color: #f4f4f4;
    .card {
        border-radius: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 5px 1px 5px;
    }
    .card-body .card-text {
        @include Open-Sans-par();
        color: #727272; 
        font-size: 15px;
    }
        .card-img-top {
            width: 100px;
        }
        .font-weight-bold {
            @include Montserrat-title();
            color: #000000;
            font-size: 12px;
        }
    .slider-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .card-img-top {
            width:  100px;
        }
    }
    .slider {
        height: 100px;
        padding-left: 10px;
        overflow: hidden;
    }
    .slider .card {
        color: #fff;
        height: 100px;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 0px;
        .card-body {
            padding: 0rem;
        }
    }
    .slider-text-1 {
        animation: slide 10s linear infinite;
    }
    @keyframes slide {
        0% {margin-top: -300px;}
        5% {margin-top: -200px;}
        33% {margin-top: -200px;}
        38% {margin-top: -100px;}
        66% {margin-top: -100px;}
        71% {margin-top: 0px;}
        100% {margin-top: 0px;}
    }
}