@import "../../main.scss";
@media (max-width: 769px) {
    .contact-background .card-deck {
        display: flex;
        flex: unset;
        .card {
            flex: auto;
        }
    }
}   
@media (max-width: 514px) {
    .contact-background .card-deck {
        flex-wrap: wrap;
    }
}
@media (max-width: 408px) {
    .contact-background {
        .card-deck {
            margin-left: 18%;
        }
        .card .card-body {
            padding: 0rem 0rem!important;
    }
        .btn {
            margin: 0% auto 0% 13%!important;
        }
    }

}
.faqPage #contact {
    height: fit-content;
    padding-bottom: 2rem;
}
.contact-background {
    background-color: transparent;
}
#contact {
    margin-top: -3rem;
    background: linear-gradient(-45deg, #479528, #599F3D, #6BAA53, #3F8624);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
    .card .img-fluid {
        padding-top: 0.75rem;
        float: left;
    }
    .card-body {
        padding: 1.25rem 0rem;
    }
    .card, .list-group, .list-group-item{
        background: inherit;
        border: none;
    }
    .card-body .list-group {
        #header {
        @include Montserrat-title();
        font-size: 13px;
        }
        .list-group-item {  
            @include Open-Sans-par();
            padding: .75rem .75rem;
            font-size: 11px;
        }
    }
    .align-self-center{
        .btn {
            margin: 0 auto;
        }
        @include btn();
    }
}