@import "../../main.scss";
.faqPage #contact {
    height: fit-content;
    padding-bottom: 2rem;
}
.contact-background {
    background-color: transparent;
}
#contact {
    background: linear-gradient(-45deg, #479528, #4f844f, #6BAA53, #3F8624);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
    .card .img-fluid {
        padding-top: 0.75rem;
        float: left;
        opacity: 0.6;
        width: 15%;
    }
    .card-body {
        padding: 1.25rem 0rem;
    }
    .card, .list-group, .list-group-item{
        background: inherit;
        border: none;
    }
    .card-body .list-group {
        #header {
        @include Montserrat-title();
        font-size: 13px;
        }
        .list-group-item {  
            @include Open-Sans-par();
            padding: .75rem .75rem;
            font-size: 11px;
        }
    }
    .align-self-center{
        .btn {
            margin: 0 auto;
        }
        @include btn();
    }
    @media (max-width: 769px) {
        .card-deck {
            .card .img-fluid {
                width: 11%;
            }
            .card-body .list-group {
                #header {
                font-size: 10px;
             }   
             .list-group-item {
                 font-size: 9px;
                 padding: .25rem 0rem .25rem 0.5rem;
                }
        }
        .btn {
            font-size: 7px;
        }
    }   
}
    @media (max-width: 640px) {
        .card-deck {
            margin-right: 0px;
            margin-left: 0px;
            .card {
                margin: 0px;
            }
        }
    }
    @media (max-width: 575px) {
        .card-deck {
            display: flex;
        .card-body {
            display: flex;
            flex-direction: row;
        }           
        .card {
            flex: auto;
            width: 100%;
            .img-fluid {
                width: 20px;
                height: 32px;
            }
        .btn {
            width: inherit;
             }
    }
    }
    }
    @media (max-width: 414px) {
            .card-deck {
                padding-top: 0.5rem;
            }
            .card .card-body {
                display: block;
                padding: 0rem 0rem 0rem 0rem;
        }
        .card-deck .card .img-fluid {
            width: 17px;
            height: 29px;
        }
    }
    @media (max-width: 320px) {
        .card-deck {
            .card .img-fluid {
                width: 13px;
                height: 25px;
            }
            .card-body .list-group {
                #header {
                font-size: 8px;
                }
                .list-group-item {
                font-size: 7px;
                padding: .25rem 0rem .25rem 0.5rem;
                } 
            } 
    }    
    }
}
.faqPage .siteMap {
//     @media (max-width: 767px) {
//         .container #contact {
//             .card-deck {
//                 display: flex;
//                 .card {
//                     flex: auto;
//                 }
//             }
//         }
//     }
//     @media (max-width: 575px) {
//         .container #contact {
//             .card-deck {
//                 display: flex;
//                 flex-wrap: wrap;
//             }
//         }
//     }
//     @media (max-width: 408px) {
//         #contact .card-deck {
//         padding-top: 0.5rem;
//         margin-left: 18%;
//         .btn {
//             margin: 0% auto 0% 13%;
//         }
//         .card .card-body {
//             padding: 0rem 0rem;
//     }
//         .card-body .list-group {
//             #header {
//             font-size: 11px;
//          }   
//          .list-group-item {
//              font-size: 9px;
//              padding: .5rem 1.25rem;
//          }
//      }
//     }
// }
}