@import "../../main.scss";

.contact-background {
    background-color: #f8f8f8;
    // margin-top: -3rem;
}

.contact {
    background: linear-gradient(-45deg, #1a2795, #373763, #181834, #03133d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
    .card .img-fluid {
        padding-top: 2.25rem;
    }
    .card-body {
        padding: 1.25rem 0rem;
    }
    .card, .list-group, .list-group-item{
        background: inherit;
        border: none;
    }
    .card-body .list-group {
        font-size: 13px;
        #header {
        @include Montserrat-title();
        }
        .list-group-item {  
            @include Open-Sans-par();
            font-weight: 400;
        }
    }
}

// .contact::after {
//     content: '';
//     position: absolute;
//     width: 1100%;
//     height: 1100%;
//     top: 12px;
//     right: -413%;
//     background: rgba(255,255,255,.8);
//     transform-origin: 54% 0;
//     transform: rotate(
// 5deg
// );
//     z-index: -1;
// }